name: Reusable Bundle Dependencies Workflow with pnpm Caching

on:
  workflow_call:
    inputs:
      project_name:
        required: true
        type: string
      node_version:
        required: true
        type: string

jobs:
  bundle_dependencies:
    runs-on: blacksmith-4vcpu-ubuntu-2404
    steps:
      - name: Restore Caches
        uses: harshithkashyap/github-actions-workflows/.github/actions/restore-caches@main
        with:
          project_name: ${{ inputs.project_name }}
          node_version: ${{ inputs.node_version }}

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Save pnpm dependencies cache
        uses: actions/cache@v4
        with:
          path: |
            node_modules
            apps/*/node_modules
            packages/*/node_modules
          key: ${{ inputs.project_name }}-pnpm-dependencies-${{ github.ref_name }}-${{ hashFiles('pnpm-lock.yaml') }}
